@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins', sans-serif;
}

html{
    font-size:16px;
    scroll-behavior: smooth;
}

body{
    width:100%;
    min-height:100%;
    background: rgb(2,17,9);
background: linear-gradient(0deg, rgba(2,17,9,1) 0%, rgba(10,54,43,1) 100%);
color:white;
}

span{
    color: rgb(236, 201, 86);
 }

 .changing-color{
     color:rgb(255, 250, 184);
 }

header{
    margin-top:20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem 9%;
    background-color:transparent;
    filter:drop-shadow(10px);
    display:flex;
    align-items: center;
    z-index:100;
}

nav{
    width:55px;
    height:55px;
    padding:7px 5px 8px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:all .5s ease;
    cursor:pointer;
    border-radius:33px;
    border:3px solid rgb(236, 201, 86);
    background-color: rgba(0, 0, 0, 0.185) ;
}

nav:hover{
    background-color:rgb(236, 201, 86) ;
    box-shadow:0 0 25px rgb(236, 201, 86);
    
}

nav a{
    display:inline-block;
    padding-right: 5px;
    padding-left: 5px;
    transition:0.3s ease;
}

nav a:hover{
    transform:scale(1.1) translateY(-2px);
}

section{
    min-height:100vh;
    padding:5rem 13% 5rem;
    }

    .blender{
        position: relative;
        margin-top: 10rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .blender h1{
        font-size:4rem;
           font-weight:700;
           line-height:1.3;
    }
    
    .blender h2{
        font-size:2rem;
        margin-top: 5rem ;
            margin-bottom:1rem;
            font-weight:700;
    }

    .blender video{
        margin-top: 8rem;
        margin-bottom: 4rem;
        width: 100%;
    }

    .blender p{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .blender-grid{
        margin-top: 8rem;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: repeat(3,45rem) ;
        column-gap: 1rem;
        row-gap: 1rem;
        grid-auto-flow:row;
        justify-content: center;
        align-items: center;
    }

    .blender-grid img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

    #img1{
        grid-column: 1/3;
    }
    #img2{
        grid-column:2/4;
    }

    @media (max-width:1200px){
        section{
            min-height:100vh;
            padding:2rem 8% 2rem;
            }

        .blender h1{
            font-size:3rem;
               font-weight:700;
               line-height:1.3;
        }
        
        .blender h2{
            font-size:1.8rem;
            margin-top: 5rem ;
                font-weight:700;
        }
    
        .blender-grid{
            position: relative;
            margin-top: 5rem;
            grid-template-rows: repeat(3,25rem) ;
        }

        .blender video{
            margin-top: 5rem;
            margin-bottom: 2.5rem;
            width: 100%;
        }

        .blender p{
            font-size:1.2rem;
        }
    
    }
    
    @media (max-width:600px){

        section{
            min-height:100vh;
            padding:1rem 8% 1rem;
            }
    
        .blender h1{
            font-size:2rem;
               font-weight:700;
               line-height:1.3;
        }
        
        .blender h2{
            font-size:1.4rem;
            margin-top: 3rem ;
                font-weight:700;
        }
    
        .blender-grid{
            position: relative;
            margin-top: 5rem;
            display: flex;
            flex-wrap: wrap;
            height:100%;
        }

        .blender-grid img{
            width:100%;
            max-height:25rem;
            object-fit: cover;
        }
    
        .blender-text{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
            gap:1.8rem;
        }
        
        .blender-text p{
            font-size: 1rem;
        }

        .blender video{
            margin-top: 3rem;
            margin-bottom:0rem;
            width: 100%;
        }
        
    
    }
