@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(29deg, rgba(0, 0, 0, 1) 0%, rgba(0, 31, 37, 1) 46%, rgba(0, 68, 59, 1) 68%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    z-index: 100;
}

section {
    min-height: 100vh;
    padding: 5rem 9%;
}

.blender {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.8rem;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.blender h2 {
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

video {
    margin-top: 8rem;
    margin-bottom: 4rem;
    width: 80%;
}

p {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.blender-grid {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.blender-grid img {
    width: 100%;
    height: auto;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 1rem;
}

/* Responsive Adjustments */
@media (max-width: 1000px) {
    .blender h1 {
        font-size: 4rem;
    }

    video {
        margin-top: 5rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .blender h1 {
        font-size: 3rem;
    }

    .blender h2 {
        font-size: 1.8rem;
        margin-top: 5rem;
    }

    video {
        margin-top: 3rem;
    }

    .blender-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .blender-grid img {
        width: 100%;
    }
}

