@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins', sans-serif;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

body{
    width:100%;
    min-height:100%;
    background: rgb(0,0,0);
background: linear-gradient(29deg, rgba(0,0,0,1) 0%, rgba(0,31,37,1) 46%, rgba(0,68,59,1) 68%, rgba(252,176,69,1) 100%);
color:white;
}

span{
    color: rgb(236, 201, 86);
 }

 .changing-color{
     color:rgb(255, 250, 184);
 }

header{
    margin-top:20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem 9%;
    background-color:transparent;
    filter:drop-shadow(10px);
    display:flex;
    align-items: center;
    z-index:100;
}

nav{
    width:55px;
    height:55px;
    padding:7px 5px 8px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:all .5s ease;
    cursor:pointer;
    border-radius:33px;
    border:3px solid rgb(236, 201, 86);
    background-color: rgba(0, 0, 0, 0.185) ;
}

nav:hover{
    background-color:rgb(236, 201, 86) ;
    box-shadow:0 0 25px rgb(236, 201, 86);
    
}

nav a{
    display:inline-block;
    padding-right: 5px;
    padding-left: 5px;
    transition:0.3s ease;
}

nav a:hover{
    transform:scale(1.1) translateY(-2px);
}

section{
    min-height:100vh;
    padding:5rem 9% 5rem;
    }

    .watch{
        position: relative;
        margin-top: 10rem;
        width: 100%;
        display: block;
    }
    
    .watch h1{
        font-size:5rem;
           font-weight:700;
           line-height:1.3;
    }
    
    .watch h2{
        font-size:2rem;
        margin-top: 5rem ;
            margin-bottom:1rem;
            font-weight:700;
    }

    .watch button{
        display:inline-block;
        padding:1rem 2.8rem;
        border-radius:4rem;
        font-size:1.6rem;
        color:white;
        letter-spacing:0.3rem;
        font-weight:600;
        border:2px solid rgb(236, 201, 86);
        background-color: transparent;
        transition:0.3s ease;
        cursor:pointer;
    }
    
    .watch button:hover{
      transform:scale3d(1.03);
      background-color:rgb(236, 201, 86);
      color:white;
      box-shadow:0 0 25px rgb(236, 201, 86);
    }
    .watch-content{
        margin-top: 8rem;
        margin-bottom: 4rem;
        display: flex ;
        flex-direction:row;
        justify-content: space-evenly;
    }

    #bandeau{
        width: 100%;
        max-height: 35rem;
        object-fit: cover;
    }

    #watch-img{
        width:100%;
        display:flex;
        justify-content: center;
        min-height:auto;
    }

    #watch-img img{
        width:70%;
        height:fit-content;
        object-fit: contain;
    }

    .watch-text{
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .watch-text div{
        display: block;
        text-align: left;
        width:50%;
        align-items: center;
        justify-content: center;
        height:100%;
    }

    .watch-text p{
        font-size:1.8rem;
        margin-bottom: 1.8rem;
    }

    .watch-text img{
        width:30%;
        height: fit-content;
        object-fit: contain;
    }

    @media (max-width:1000px){

        .watch h1{
            font-size:4rem;
               font-weight:700;
               line-height:1.3;
        }
        
        .watch h2{
            font-size:2rem;
            margin-top: 5rem ;
                font-weight:700;
        }

        .watch-text div{
            display: block;
            text-align: left;
            width:100%;
            align-items: center;
            justify-content: center;
            height:100%;
        }
    
        .watch-text p{
            font-size:1.8rem;
            margin-bottom: 1.8rem;
        }
        .watch-text{
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .watch-text img{
            margin-top: 5rem;;
            width:50%;
            height: fit-content;
        }
    
    
    }
    
    @media (max-width:600px){
    
        .watch h1{
            font-size:3rem;
               font-weight:700;
               line-height:1.3;
        }
        
        .watch h2{
            font-size:1.8rem;
            margin-top: 0rem ;
                font-weight:700;
        }
        .watch p{
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        .watch button{
            display:inline-block;
            padding:0.5rem;
            border-radius:4rem;
            font-size:1.3rem;
            color:white;
        }
    }