@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins', sans-serif;
}

html{

    font-size:16px;
    scroll-behavior: smooth;
}

body{
    width:100%;
    min-height:100%;
    background: rgb(0,0,0);
background: linear-gradient(29deg, rgba(0,0,0,1) 0%, rgba(0,31,37,1) 46%, rgba(0,68,59,1) 68%, rgba(252,176,69,1) 100%);
color:white;
}

span{
    color: rgb(236, 201, 86);
 }

 .changing-color{
     color:rgb(255, 250, 184);
 }

header{
    margin-top:20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem 9%;
    background-color:transparent;
    filter:drop-shadow(10px);
    display:flex;
    align-items: center;
    z-index:100;
}

nav{
    width:55px;
    height:55px;
    padding:7px 5px 8px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:all .5s ease;
    cursor:pointer;
    border-radius:33px;
    border:3px solid rgb(236, 201, 86);
    background-color: rgba(0, 0, 0, 0.185) ;
}

nav:hover{
    background-color:rgb(236, 201, 86) ;
    box-shadow:0 0 25px rgb(236, 201, 86);
    
}

nav a{
    display:inline-block;
    padding-right: 5px;
    padding-left: 5px;
    transition:0.3s ease;
}

nav a:hover{
    transform:scale(1.1) translateY(-2px);
}

section{
    min-height:100vh;
    padding:5rem 13% 5rem;
    }

    
    .pepestudio{
        position: relative;
        margin-top: 10rem;
    }
    
    .pepestudio h1{
        font-size:3.5rem;
           font-weight:700;
           line-height:1.3;
    }
    
    .pepestudio h2{
        font-size:1.7rem;
        margin-top: 5rem ;
            margin-bottom:1rem;
            font-weight:700;
    }

    .pepestudio video{
        margin-top: 8rem;
        margin-bottom: 4rem;
        width: 100%;
        max-height:30rem;
    }
     
    .pepe-img{
        width:100%;
        margin: 5rem 0 5rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .pepe-img img{
        width: 32%;
        object-fit: cover;
    }

    .pepestudio p{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    #brochure{
        display:flex;
        flex-wrap:wrap ;
        gap: 5rem;
    }

    #brochure img{
        width: 100%; 
    }

    

@media (max-width:1200px){
    section{
        min-height:100vh;
        padding:2rem 8% 2rem;
        }

        .pepestudio video{
            margin-top: 4rem;
            margin-bottom: 4rem;
           
        }


    .pepestudio h1{
        font-size:2.5rem;
           font-weight:700;
           line-height:1.3;
    }
    
    .pepestudio h2{
        font-size:1.5rem;
        margin-top: 3rem ;
            font-weight:700;
    }

    .pepe-text p{
        font-size: 1.2rem;
    }


}

@media (max-width:600px){
    section{
        min-height:100vh;
        padding:2rem 8% 2rem;
        }


    .pepestudio h1{
        font-size:2.2rem;
           font-weight:700;
           line-height:1.3;
    }
    
    .pepestudio h2{
        font-size:1.4rem;
        margin-top: 2rem ;
            font-weight:700;
    }
    .pepe-text p{
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    
    .pepestudio video{
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 100%;
        max-height:30rem;
    }


    .pepe-text{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap:1rem;
    }

    .pepe-img{
        width:100%;
        margin: 1rem 0 1rem 0;

    }
    

    .pepestudio img{
        width:100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-height:40rem;
        object-fit: cover;
    }

}

